#hero {
  margin-top: 4rem;
  /* padding-bottom: 3rem; */

  & .container{
      display: grid;
      justify-content: center;
      justify-items: center;
      gap: 2rem;
      text-align: center;
      

    & section{
      gap: 1rem;
    }

    & div {
      display: grid;
      justify-items: center;

      & .texts{
        gap: .5rem;
      }
    }
  }
}

@media (width >= 80em) {
  #hero{
    background: url(../../assets/icons/bg-hero-desktop.svg) no-repeat bottom center/contain;
    padding-bottom:15rem ;

    & h1{
      font-size: 4rem;
    }
    
    & img[src*="music"] {
      width: 25.75rem;
      height: 6.5rem;
    }
  }
  }