.py-base{
  padding-block: var(--py-base);
}
.py-lg{
  padding-block: var(--py-lg);
}
.py-xl{
  padding-block: var(--py-xl);
}
.px-lg{
  padding-inline: var(--px-lg);
}

/* quando tiver em mobile, as tags que tiverem essa classe iram sumir */
.desktop-only{
   display: none; /* esconde as coisas */ 
}

.even-columns{
  display: grid;
  gap: 1rem;
}

.items-center{
  align-items: center;
}

.container{
  --max-width:375px;
   max-width: var(--max-width); /*ou 100% - var(--px-lg) */
   width: calc(100% - var(--px-lg) * 2);
   /* border: 1px solid red; */
   margin-inline: auto;
}

.flex{
  display: flex;
}

.gap-1{
  gap: 1rem;
}
.gap-1-5{
  gap: 1.5rem;
}

.grid{
  display: grid;
}

li{
  display: flex;
  gap: .5rem;
}

 @media (width >= 80em){ /*para telas de maiores */
  .container{
    --max-width:80em;
  }

  /* quando tiver em telas grandes, as tags que tiverem essa classe iram voltar ao seu display padrao inicial */
  .desktop-only{
    display: initial;
  }

  .even-columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

}